@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop P One";
  color: black;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 100px;
  height: auto;
  float: left top;
  margin: 20;
}

.menubar {
  float: left;
  display: flex;
  text-decoration: none;
}

footer {
  text-align: center;
}
