@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
	width: 100%;
	height: 100%;
	font-family: 'Mochiy Pop P One';
	color: black;
	background-color: light rgb(88, 66, 66);
}

.logo{
	width: 100px;
	height: 50px;
	float: left;
}

.pictures{
	width: 50%;
}

.menubar{
	float: right;
}

ul, ul li{
	/*display: block;*/
	list-style: none;
	margin: 0;
	padding: 0;
}

ul{
	display: inline;
	white-space: none;
}

