@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
	font-family: 'Mochiy Pop P One';
	color: black;
	background-color: light rgb(88, 66, 66);
}

.logo{
	width:20%;
	height:10%;
	float: left;
}

.pictures{
	width: 50%;
}

ul, ul li{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul{
	display: inline;
	white-space: none;
}

.menubar{
	float: right;
}